body{
    background-repeat: no-repeat;
    background-position: center;
    background-size:100%;
}
.heading{
    font-size: 23px;
    width: 100%;
    margin: 0px;
    box-shadow: 5px 5px 5px grey;
    background-color: peachpuff;
    color: black;
}

.note{
    font-size: 15px;
    color: rgb(213, 72, 72);
    
}

.copy_right_footer{
    position: fixed;
    bottom: 0;
    width: 100%;
    line-height: 3;
    text-align: center;
    background-color: grey;
    color: rgb(0, 0, 0);
}

canvas{
    border: 5px solid gray;
    border-radius: 20px;
    box-shadow: 5px 5px 5px black;
}